{% extends 'base.html' %}

{% block title %} To-do list {% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>To-Do List <i class="fa-solid fa-check"></i></h1>
    <div class="container dashboard">

        <div class="col-4 dashbord-box" id="dashboard-lastdays">
            <h4>Completed in the last 30 days</h4>
            <span>{{ tasksrecently }}</span>
        </div>

        <div class="col-4 dashbord-box" id="dashboard-done">
            <h4>Finished tasks</h4>
            <span>{{ taskdone }}</span>
        </div>

        <div class="col-4 dashbord-box" id="dashboard-doing">
            <h4>Tasks to do</h4>
            <span>{{ tasksdoing }}</span>
        </div>
    </div>

    <a id="add-link" href="newtask/">
        <div class="col-2 add-div">
            <i class="fas fa-plus"> Add task </i>
        </div>
    </a>

    <div class="col-9 search-div">
        <form method="GET" id="search-form">
            <input class="form-control" type="text" id="search" name="search"
                placeholder="Enter the task name to search..." value="{{ request.GET.search }}">
                <i class="fas fa-search" id="search-btn"></i>
        </form>
    </div>


    <div class="col-12 filter-div">
        <span>Filter by:</span>
        <select name="filter" id="filter" class="form-control">
            <option value="done">Options</option>
            <option value="done">Completed tasks</option>
            <option value="doing">Tasks to do</option>
        </select>
    </div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %}class="alert alert-{{message.tags}}" {% endif %}>{{message}}</li>

            {% endfor %}
    </ul>
    {% endif %}

    <ul class="task-list">
        {% for task in tasks %}
        {% if task.done == 'doing' %}
        <li class="task-item">
            {% else %}
        <li class="task-item done">
            {% endif %}
            <span><a href="/task/{{task.id}}">{{task.title}}</a></span>
            <a href="delete/{{task.id}}" class="delete-btn"><span><i class="fas fa-trash"></i></span></a>
            <a href="edit/{{task.id}}"><span><i class="fas fa-edit"></i></span></a>
            <a href="changestatus/{{task.id}}"><span><i class="fas fa-check"></i></span></a>
        </li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if tasks.has_previous %}
            <a href="?page={{ tasks.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
            {% endif %}
            {% if tasks.paginator.num_pages %}
            <span class="current">
                {{ tasks.number }} de {{ tasks.paginator.num_pages }}
            </span>
            {% endif %}

            {% if tasks.has_next %}
            <a href="?page={{ tasks.next_page_number}}"><i class="fas fa-arrow-right"></i></a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}