.container-fluid {
    padding: 0;
}

.row{
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
}

/* Navbar */
.navbar {
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

.navbar-nav {
    margin: auto;
}

.navbar-brand {
    margin-left: 30px;
    font-weight: bold;
}

.navbar-light .navbar-nav a.nav-link {
    color: #000;
    letter-spacing: 1px;
}

.navbar-collapse {
    padding-right: 8rem;
}

/* Botão de adicionar*/
#add-link {
    text-decoration: none;
}

.add-div {
    background-color: #198754;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 6px;
    border-radius: 5px;
    margin-right: 25px;
}

.fa-fa-plus {
    color: #ffffff;
    margin-right: 10px;
    margin-left: 5px;
}

/* Search */
.fas.fa-search {
    position: absolute;
    top: 9.8rem;
    left: 100rem;
    cursor: pointer;
}

.search-div {
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

/* Lista de Tarefas */
.list-div {
    padding: 0%;
}

.task-list {
    padding-left: 0;
}

.task-item {
    list-style: none;
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px solid #000000;
}

.fas.fa-trash,
.fas.fa-edit {
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}

.fas.fa-trash {
    color: #ff0000;
}

.fas.fa-edit {
    color: #000000;
}

/* Messages */
ul.messages {
    padding: 0;
    color: #ff0000;
}

ul.messages li {
    list-style: none;
}

/* footer */
footer {
    background-color: #000;
    height: 300px;
    border-top: 2px solid #000;
}

footer p {
    color: #ffffff;
    text-align: center;
    top: 50%;
    position: relative;
}

/* paginação */
.pagination {
    margin-bottom: 20px;
}
.step-links {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current {
    margin-left: 5px;
    margin-right: 5px;
}

.btn-success {
   margin-top: 1rem;
}

/* login */
.auth-card {
    margin-bottom: 30px;
}

[type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    margin-top: 20px;
}


.change-form-p {
    margin-top: 30px;
    text-align: center;
}